<%= form_with(model: [@article, @article.comments.build], local: true) do |form|%>
  <%= form.label :commenter%>
  <%= form.text_field :commenter%>
  <%= form.label :body%>
  <%= form.text_area :body%>
  <p>
    <%= form.submit %>
  </p>
<% end %>
